﻿<h2>Task</h2>
<div class="row">
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <div class="form-group">
                <label for="descricao">Descrição </label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao">
            </div>
            <div class="form-group">
                <label for="conteudo">Conteudo</label>
                <textarea class="form-control" id="conteudo" rows="3" formControlName="conteudo"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-10">
                <div class="card card-outline-primary mb-3">
                    <div class="card-header text-center">Task</div>
                    <div class="card-block scroll-list">
                        <ul class="list-group list-group-flush">
                            <li draggable *ngFor="let t of tasks" [dragClass]="'active'" [dragScope]="'delete'"
                                [dragData]="t" class="list-group-item">
                                {{t.idTask}} - {{t.descricao}} - {{t.conteudo}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">

                <div class="card card-inverse card-primary mb-3 text-center" droppable [dragHintClass]="'drag-hint-scale'"
                    [dragOverClass]="'bg-danger'" [dropScope]="'delete'" (onDrop)="onTaskDrop($event)">
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            
                            <h4 class="card-title"><i class="fa fa-trash" aria-hidden="true"></i></h4>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>