<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">TASK</a>
  <div class="navbar-expand mr-auto">
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://bitbucket.org/fabianocornelius" target="_blank">
        <i class="fa fa-bitbucket"></i>
      </a>
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/fabiano-cornelius-51559721/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </div>
</nav>